:root{
    --naranja: #ef8354;
    --amarillo: #e0ca3c;
    --blanco: #fcefef;
    --negro: #201e1f;
    --verde: #507255;
}
body{
    margin: 0;
}
.navegacion{
    position:sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: rgb(224, 202, 60);
    box-shadow: 0 4px 12px var(--negro);
    padding: 30px 30px;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    
}
nav{
  width: 100%;
  height: 100%;
}

.fondo {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;


  background: #ef8354; 
  background: linear-gradient(
    135deg,
    #ef8354 25%,
    #ee5919 25%,
    #ee5919 50%,
    #ef8354 50%,
    #ef8354 75%,
    #ee5919 75%,
    #ee5919
  );
  background-size: 200px 200px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 200px 200px;
  }
}

.navegacion ul{
display: flex;
list-style: none;
gap: 40px ;
}



.btn-nav {
  border: 3px solid  var(--negro);
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: var(--naranja);
  font-weight: 550;
  padding:10px 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.651);
}

.btn-nav:hover {
  background: #ee5818;
  color: white;
  padding: 13px 33px;
  box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.651);
}

a{
    text-decoration: none;
    color: var(--negro);
}

.card {
  --bg: #f7f7f8;
  --hover-bg: #ffe5f4;
  --hover-text: #e50087;
  max-width: 23ch;
  text-align: center;
  background: var(--bg);
  padding: 1.5em;
  padding-block: 1.8em;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition:
    0.3s cubic-bezier(0.6, 0.4, 0, 1),
    transform 0.15s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: black;
  margin: 30px 30px;
}

.card__body {
  color: #464853;
  line-height: 1.5em;
  font-size: 1em;
}

.card > :not(span) {
  transition: 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card > strong {
  display: block;
  font-size: 1.4rem;
  letter-spacing: -0.035em;
}

.card span {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--negro);
  border-radius: 5px;
  font-weight: bold;
  top: 100%;
  transition: all 0.3s cubic-bezier(0.6, 0.4, 0, 1);
}

.card:hover span {
  top: 0;
  font-size: 1.2em;
}

.card:hover {
  background: #eee7b2;
}

.card:hover > div,
.card:hover > strong {
  opacity: 0;
}