@import url(/estilos/style.css);

    .cardbox {
      width: 100%;
      background-image: url('/img/sanguches.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .inicio {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 100px;
      max-width: 2000px;
      width: 100%;
      margin-top: 20px;
    }

    .titulo {
      text-align: center;
      font-family: 'Parade', sans-serif;
      font-size: 2.8rem;
      font-weight: 700;
      color: var(--negro);
      margin-top: 20px;
      transition: 0.4s;
    }

    .titulo:hover {
      transform: scale(1.2);
      text-shadow: 10px 15px 15px var(--negro);
    }

    .card-somos {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 25px;
      border-radius: 15px;
      width: 100%;
      max-width: 400px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card-somos:hover {
      transform: scale(1.2);
      box-shadow: 10px 10px 10px var(--negro);
    }

    .card-somos h2 {
      color: var(--negro);
      font-size: 2rem;
      margin-bottom: 15px;
    }

    .card-somos p {
      color: var(--negro);
      font-size: 1.3rem;
      line-height: 1.6;
    }

    @media screen and (max-width: 768px) {
      .inicio {
        flex-direction: column;
        align-items: center;
        max-width: 100%;
      }

      .titulo{
        font-size: 1.5rem;
      }
       .card-somos {
      background-color: rgba(255, 255, 255, 0.9);
      padding: 10px;
      border-radius: 15px;
      width: 100%;
      max-width: 250px;
     
    
    
    }
    }